name: Continuous integration
on:
  pull_request:
  push:
    branches:
    - main
defaults:
  run:
    shell: bash
jobs:
  ci-linux:
    name: Build for Linux
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: |
        # Make not silently ignore errors.
        set -euo pipefail

        # Load the Rust startup file, if it exists.
        if [ -f "$HOME/.cargo/env" ]; then
          . "$HOME/.cargo/env"
        fi

        # Use this wrapper for `cargo` if network access is needed.
        cargo-online () { cargo --locked "$@"; }

        # Use this wrapper for `cargo` unless network access is needed.
        cargo-offline () { cargo --frozen --offline "$@"; }

        # Use this wrapper for formatting code or checking that code is formatted. We use a nightly Rust
        # version for the `trailing_comma` formatting option [tag:rust_fmt_nightly_2025-11-02]. The
        # nightly version was chosen as the latest available release with all components present
        # according to this page:
        #   https://rust-lang.github.io/rustup-components-history/x86_64-unknown-linux-gnu.html
        cargo-fmt () { cargo +nightly-2025-11-02 --frozen --offline fmt --all -- "$@"; }

        # Make Bash log commands.
        set -x

        # Install the following packages:
        #
        # - build-essential       - Used to link some crates
        # - ca-certificates       - Used for fetching Docker's GPG key
        # - curl                  - Used for installing Docker, Tagref, and Rust
        # - gcc-aarch64-linux-gnu - Used for linking the binary for AArch64
        # - gcc-x86-64-linux-gnu  - Used for linking the binary for x86-64
        # - gnupg                 - Used to install Docker's GPG key
        # - lsb-release           - Used below to determine the Ubuntu release codename
        # - ripgrep               - Used for various linting tasks
        # - shellcheck            - Used for linting shell scripts
        apt-get update
        apt-get install --yes \
          build-essential \
          ca-certificates \
          curl \
          gcc-aarch64-linux-gnu \
          gcc-x86-64-linux-gnu \
          gnupg \
          lsb-release \
          ripgrep \
          shellcheck

        # Download Docker's official GPG key.
        install -m 0755 -d /etc/apt/keyrings
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | \
          gpg --dearmor -o /etc/apt/keyrings/docker.gpg
        chmod a+r /etc/apt/keyrings/docker.gpg

        # Set up the Docker repository.
        echo \
          "deb [arch="$(dpkg --print-architecture)" signed-by=/etc/apt/keyrings/docker.gpg] \
            https://download.docker.com/linux/ubuntu \
            "$(. /etc/os-release && echo "$VERSION_CODENAME")" stable" | \
          tee /etc/apt/sources.list.d/docker.list > /dev/null

        # Install the Docker CLI.
        apt-get update
        apt-get install --yes docker-ce-cli


        # Install Tagref using the official installer script.
        curl https://raw.githubusercontent.com/stepchowfun/tagref/main/install.sh -LSfs | sh


        # Create a user named `user` with a home directory and with Bash as the login shell.
        useradd user --create-home --shell /bin/bash

        # Install stable Rust [tag:rust_1.91.0].
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- \
          -y \
          --default-toolchain 1.91.0 \
          --profile minimal \
          --component clippy

        # Add Rust tools to `$PATH`.
        . "$HOME/.cargo/env"

        # Install nightly Rust [ref:rust_fmt_nightly_2025-11-02].
        rustup toolchain install nightly-2025-11-02 --profile minimal --component rustfmt


        # Create a "hello world" project with the dependencies we want to fetch.
        mv Cargo.lock Cargo.lock.og
        mv Cargo.toml Cargo.toml.og
        cargo-offline init --vcs none
        mv Cargo.lock.og Cargo.lock
        mv Cargo.toml.og Cargo.toml

        # Ask Cargo to build the project in order to fetch the dependencies.
        cargo-online build
        cargo-online build --release
        cargo-online clippy --all-features --all-targets --workspace

        # Delete the build artifacts.
        cargo-offline clean --package docuum
        cargo-offline clean --release --package docuum

        # Delete the "hello world" code.
        rm -rf src


        # Build the project with Cargo.
        cargo-offline build


        # Run the tests with Cargo. The `NO_COLOR` variable is used to disable colored output for
        # tests that make assertions regarding the output [tag:colorless_tests].
        NO_COLOR=true cargo-offline test


        # Check references with Tagref.
        tagref

        # Lint shell files with ShellCheck.
        find . -type f -name '*.sh' | xargs shellcheck

        # Lint the code with Clippy.
        cargo-offline clippy --all-features --all-targets --workspace

        # Check code formatting with Rustfmt. See [ref:format_macros] for an explanation of the `rg`
        # commands.
        rg --type rust --files-with-matches '' src | xargs sed -i 's/!(/_(/g'
        rg --type rust --files-with-matches '' src | xargs sed -i 's/^\([^ (]*\)_(/\1!(/g'
        if ! cargo-fmt --check; then
          echo 'ERROR: Please correct the formatting errors above.' 1>&2
          exit 1
        fi
        rg --type rust --files-with-matches '' src | xargs sed -i 's/_(/!(/g'

        # Forbid unconsolidated `use` declarations.
        if rg --line-number --type rust --multiline '}[[:space]]*;[[:space:]]*\n[[:space:]]*use' src
        then
          echo 'Please consolidate these `use` declarations.' >&2
          exit 1
        fi

        # Enforce that lines span no more than 100 columns.
        if rg --line-number --type rust '.{101}' src; then
          echo 'There are lines spanning more than 100 columns.' >&2
          exit 1
        fi


        # Add the targets.
        rustup target add x86_64-unknown-linux-gnu
        rustup target add x86_64-unknown-linux-musl
        rustup target add aarch64-unknown-linux-gnu
        rustup target add aarch64-unknown-linux-musl

        # Set the linkers.
        export CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_LINKER=x86_64-linux-gnu-gcc
        export CARGO_TARGET_X86_64_UNKNOWN_LINUX_MUSL_LINKER=x86_64-linux-gnu-gcc
        export CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc
        export CARGO_TARGET_AARCH64_UNKNOWN_LINUX_MUSL_LINKER=aarch64-linux-gnu-gcc

        # Build the project with Cargo for each Linux target.
        cargo-online build --release --target x86_64-unknown-linux-gnu
        cargo-online build --release --target x86_64-unknown-linux-musl
        cargo-online build --release --target aarch64-unknown-linux-gnu
        cargo-online build --release --target aarch64-unknown-linux-musl

        # Move the binaries to a more conveniennt location for exporting.
        mkdir artifacts
        cp \
          target/x86_64-unknown-linux-gnu/release/docuum \
          artifacts/docuum-x86_64-unknown-linux-gnu
        cp \
          target/x86_64-unknown-linux-musl/release/docuum \
          artifacts/docuum-x86_64-unknown-linux-musl
        cp \
          target/aarch64-unknown-linux-gnu/release/docuum \
          artifacts/docuum-aarch64-unknown-linux-gnu
        cp \
          target/aarch64-unknown-linux-musl/release/docuum \
          artifacts/docuum-aarch64-unknown-linux-musl


        # This will be called when the task finishes, regardless of whether it succeeded.
        function cleanup {
          # Delete the container created below to run the integration tests.
          docker rm --force dind
        }
        trap cleanup EXIT

        # Run the integration test suite [tag:integration_test_step]. We use a Docker-in-Docker
        # environment to run the suite because we don't want to inadvertently delete images from the
        # host machine.
        docker run \
          --privileged \
          --name dind \
          --detach \
          docker:dind
        docker exec dind apk add bash
        docker cp "artifacts/docuum-x86_64-unknown-linux-musl" dind:/
        docker cp integration-test.sh dind:/
        docker exec dind ./integration-test.sh


        # Run the program with Cargo.
        cargo-offline run -- --help


    - run: |
        # Make Bash log commands and not silently ignore errors.
        set -euxo pipefail

        # The artifact name will contain the target triple, so the file name doesn't need to.
        mv artifacts/docuum-x86_64-unknown-linux-gnu artifacts/docuum
    - uses: actions/upload-artifact@v4
      with:
        name: x86_64-unknown-linux-gnu
        path: artifacts/docuum
        if-no-files-found: error
    - run: |
        # Make Bash log commands and not silently ignore errors.
        set -euxo pipefail

        # The artifact name will contain the target triple, so the file name doesn't need to.
        mv artifacts/docuum-x86_64-unknown-linux-musl artifacts/docuum
    - uses: actions/upload-artifact@v4
      with:
        name: x86_64-unknown-linux-musl
        path: artifacts/docuum
        if-no-files-found: error
    - run: |
        # Make Bash log commands and not silently ignore errors.
        set -euxo pipefail

        # The artifact name will contain the target triple, so the file name doesn't need to.
        mv artifacts/docuum-aarch64-unknown-linux-gnu artifacts/docuum
    - uses: actions/upload-artifact@v4
      with:
        name: aarch64-unknown-linux-gnu
        path: artifacts/docuum
        if-no-files-found: error
    - run: |
        # Make Bash log commands and not silently ignore errors.
        set -euxo pipefail

        # The artifact name will contain the target triple, so the file name doesn't need to.
        mv artifacts/docuum-aarch64-unknown-linux-musl artifacts/docuum
    - uses: actions/upload-artifact@v4
      with:
        name: aarch64-unknown-linux-musl
        path: artifacts/docuum
        if-no-files-found: error
  ci-windows:
    name: Build for Windows
    runs-on: windows-latest
    steps:
    - run: |
        # Make Bash log commands and not silently ignore errors.
        set -euxo pipefail

        # The unit tests do not expect the files in `test_data` to have carriage returns added.
        git config --global core.autocrlf false
        git config --global core.eol lf
    - uses: actions/checkout@v4
    - run: |
        # Make Bash log commands and not silently ignore errors.
        set -euxo pipefail

        # Install the appropriate version of Rust. The `--no-self-update` is necessary to make this
        # command work reliably on Windows. Without that flag, the command fails occasionally. See
        #
        #   https://github.com/rust-lang/rustup/issues/2441
        #
        # for more information.
        rustup toolchain install 1.91.0 --no-self-update # [ref:rust_1.91.0]
        rustup default 1.91.0 # [ref:rust_1.91.0]

        # Add the targets.
        rustup target add x86_64-pc-windows-msvc
        rustup target add aarch64-pc-windows-msvc

        # Build for x86_64-pc-windows-msvc.
        RUSTFLAGS='--codegen target-feature=+crt-static' cargo build \
          --locked \
          --release \
          --target x86_64-pc-windows-msvc

        # Build for aarch64-pc-windows-msvc.
        RUSTFLAGS='--codegen target-feature=+crt-static' cargo build \
          --locked \
          --release \
          --target aarch64-pc-windows-msvc

        # Run the tests.
        NO_COLOR=true cargo test --locked # [ref:colorless_tests]
    - uses: actions/upload-artifact@v4
      with:
        name: x86_64-pc-windows-msvc
        path: target/x86_64-pc-windows-msvc/release/docuum.exe
        if-no-files-found: error
    - uses: actions/upload-artifact@v4
      with:
        name: aarch64-pc-windows-msvc
        path: target/aarch64-pc-windows-msvc/release/docuum.exe
        if-no-files-found: error
  ci-macos:
    name: Build for macOS
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - run: |
        # Make Bash log commands and not silently ignore errors.
        set -euxo pipefail

        # Install the appropriate version of Rust.
        rustup toolchain install 1.91.0 # [ref:rust_1.91.0]
        rustup default 1.91.0 # [ref:rust_1.91.0]

        # Add the targets.
        rustup target add x86_64-apple-darwin
        rustup target add aarch64-apple-darwin

        # Build for x86_64-apple-darwin.
        SDKROOT=$(xcrun --show-sdk-path) \
          MACOSX_DEPLOYMENT_TARGET=$(xcrun --show-sdk-version) \
            cargo build --locked --release --target x86_64-apple-darwin

        # Build for aarch64-apple-darwin.
        SDKROOT=$(xcrun --show-sdk-path) \
          MACOSX_DEPLOYMENT_TARGET=$(xcrun --show-sdk-version) \
            cargo build --locked --release --target aarch64-apple-darwin

        # Run the tests.
        NO_COLOR=true cargo test --locked # [ref:colorless_tests]
    - uses: actions/upload-artifact@v4
      with:
        name: x86_64-apple-darwin
        path: target/x86_64-apple-darwin/release/docuum
        if-no-files-found: error
    - uses: actions/upload-artifact@v4
      with:
        name: aarch64-apple-darwin
        path: target/aarch64-apple-darwin/release/docuum
        if-no-files-found: error
  install-macos:
    name: Install on macOS
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - run: |
        # Make Bash log commands and not silently ignore errors.
        set -euxo pipefail

        # Run the installer script.
        PREFIX=/tmp ./install.sh

        # Run the installed binary.
        /tmp/docuum --help
  install-ubuntu:
    name: Install on Ubuntu
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: |
        # Make Bash log commands and not silently ignore errors.
        set -euxo pipefail

        # Run the installer script.
        PREFIX=/tmp ./install.sh

        # Run the installed binary.
        /tmp/docuum --help
  publish-release:
    name: Publish a release if applicable
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: [ci-linux, ci-macos, ci-windows, install-macos, install-ubuntu]
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-qemu-action@v3 # For building multi-platform images
    - uses: docker/setup-buildx-action@v3 # For building multi-platform images
    - uses: actions/download-artifact@v4
      with:
        path: artifacts/
    - env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        # Make Bash log commands and not silently ignore errors.
        set -euxo pipefail

        # Install the appropriate version of Rust.
        rustup toolchain install 1.91.0 # [ref:rust_1.91.0]
        rustup default 1.91.0 # [ref:rust_1.91.0]

        # Fetch the program version.
        VERSION="$(cargo pkgid | cut -d# -f2 | cut -d: -f2)"

        # Determine if the release already exists.
        if gh release view "v$VERSION" &> /dev/null; then
          echo "Release v$VERSION already exists."
        else
          echo "VERSION_TO_PUBLISH=$VERSION" >> "$GITHUB_ENV"
        fi

        # Give the artifacts unique names.
        mv \
          artifacts/x86_64-unknown-linux-gnu/docuum \
          artifacts/docuum-x86_64-unknown-linux-gnu
        mv \
          artifacts/x86_64-unknown-linux-musl/docuum \
          artifacts/docuum-x86_64-unknown-linux-musl
        mv \
          artifacts/aarch64-unknown-linux-gnu/docuum \
          artifacts/docuum-aarch64-unknown-linux-gnu
        mv \
          artifacts/aarch64-unknown-linux-musl/docuum \
          artifacts/docuum-aarch64-unknown-linux-musl
        mv \
          artifacts/x86_64-apple-darwin/docuum \
          artifacts/docuum-x86_64-apple-darwin
        mv \
          artifacts/aarch64-apple-darwin/docuum \
          artifacts/docuum-aarch64-apple-darwin
        mv \
          artifacts/x86_64-pc-windows-msvc/docuum.exe \
          artifacts/docuum-x86_64-pc-windows-msvc.exe
        mv \
          artifacts/aarch64-pc-windows-msvc/docuum.exe \
          artifacts/docuum-aarch64-pc-windows-msvc.exe

        # For the Docker image, make the relevant artifacts executable again. See
        # https://github.com/actions/upload-artifact/issues/38.
        chmod a+x artifacts/docuum-x86_64-unknown-linux-musl
        chmod a+x artifacts/docuum-aarch64-unknown-linux-musl
    - if: ${{ env.VERSION_TO_PUBLISH != null }}
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        platforms: linux/amd64,linux/arm64
        tags: stephanmisc/docuum,stephanmisc/docuum:${{ env.VERSION_TO_PUBLISH }}
    - if: ${{ env.VERSION_TO_PUBLISH != null }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        # Make Bash log commands and not silently ignore errors.
        set -euxo pipefail

        # Run the Docker image to validate it. The image has already been published (since the
        # `docker/build-push-action@v5` action unfortunately doesn't support importing multi-
        # platform images into a local Docker installation), but we still validate it now anyway.
        docker run \
          --init \
          --rm \
          --tty \
          --name docuum \
          --mount type=bind,src=/var/run/docker.sock,dst=/var/run/docker.sock \
          --mount type=volume,source=docuum,target=/root \
          "stephanmisc/docuum:$VERSION_TO_PUBLISH" --help

        # Create the release.
        gh release create "v$VERSION_TO_PUBLISH" --title "v$VERSION_TO_PUBLISH" --notes '' \
          'artifacts/docuum-x86_64-unknown-linux-gnu' \
          'artifacts/docuum-x86_64-unknown-linux-musl' \
          'artifacts/docuum-aarch64-unknown-linux-gnu' \
          'artifacts/docuum-aarch64-unknown-linux-musl' \
          'artifacts/docuum-x86_64-apple-darwin' \
          'artifacts/docuum-aarch64-apple-darwin' \
          'artifacts/docuum-x86_64-pc-windows-msvc.exe' \
          'artifacts/docuum-aarch64-pc-windows-msvc.exe'
        echo "Created release v$VERSION_TO_PUBLISH."
